<!-- Breadcrumb -->
<nav class="container mt-lg-4 pt-5" aria-label="breadcrumb">
  <ol class="breadcrumb mb-0 pt-5">
    <li class="breadcrumb-item">
      <a href="index.html"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Blog Grid no Sidebar</li>
  </ol>
</nav>
<!-- Page content -->
<section class="container mt-4 mb-lg-5 pt-lg-2 pb-5">
    <!-- Page title + Layout switcher + Search form -->
    <%= link_to 'イベントを作成する', new_event_path, class: "btn btn-primary floot-md-end" %>
    <div class="row align-items-end gy-3 mb-4 pb-lg-3 pb-1">
        <div class="col-lg-5 col-md-4">
        <h1 class="mb-2 mb-md-0">イベント一覧</h1>
        </div>
        <div class="col-lg-7 col-md-8">
            <form class="row gy-2">
                <div class="col-lg-5 col-sm-6">
                    <div class="d-flex align-items-center">
                        <div class="nav flex-nowrap me-sm-4 me-3">
                        <a href="blog-list-no-sidebar.html" class="nav-link me-2 p-0" aria-label="List view">
                        <i class="bx bx-list-ul fs-4"></i>
                        </a>
                        <a href="blog-grid-no-sidebar.html" class="nav-link p-0 active" aria-label="Grid view">
                            <i class="bx bx-grid-alt fs-4"></i>
                        </a>
                    </div>
                    <select class="form-select">
                    <option>All categories</option>
                    <option value="processes-and-tools">Processes &amp; Tools</option>
                    <option value="startups">Startups</option>
                    <option value="digital">Digital</option>
                    <option value="strategy">Strategy</option>
                    <option value="business">Business</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="input-group">
                    <input type="text" class="form-control pe-5 rounded" placeholder="Search the blog...">
                    <i class="bx bx-search position-absolute top-50 end-0 translate-middle-y me-3 zindex-5 fs-lg"></i>
                </div>
            </div>
            </form>
        </div>
    </div>

    <!-- Blog grid -->
    <div class="row row-cols-lg-3 row-cols-sm-2 row-cols-1 gy-md-4 gy-2">
        <% @events.each do |event| %>

            <!-- Item -->
            <div class="col pb-3">
            <article class="card border-0 shadow-sm h-100">
                <div class="position-relative">
                <a href="blog-single.html" class="position-absolute top-0 start-0 w-100 h-100" aria-label="Read more"></a>
                <a href="#" class="btn btn-icon btn-light bg-white border-white btn-sm rounded-circle position-absolute top-0 end-0 zindex-5 me-3 mt-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Read later" aria-label="Read later">
                    <i class="bx bx-bookmark"></i>
                </a>
                
                </div>
                <div class="card-body pb-4">
                <div class="d-flex align-items-center justify-content-between mb-3">
                    <a href="#" class="badge fs-sm text-nav bg-secondary text-decoration-none">Business</a>
                    <span class="fs-sm text-muted"><%= event.start_at.strftime('%Y年%m月%d日 %H:%M') %></span>
                </div>
                <h3 class="h5 mb-0">
                    <%= link_to event.title, event_path(event) %>
                </h3>
                </div>
                <div class="card-footer py-4">
                <span class="d-flex align-items-center fw-bold text-dark text-decoration-none">
                    <%= event.user.name %>
                </span>
                </div>
            </article>
            </div>
        <% end %>
    </div>
        
    <!-- Pagination -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pt-md-4 pt-2">
        <li class="page-item">
            <a href="#" class="page-link" aria-label="Previous page">
            <i class="bx bx-chevron-left mx-n1"></i>
            </a>
        </li>
        <li class="page-item disabled d-sm-none">
            <span class="page-link text-body">2 / 4</span>
        </li>
        <li class="page-item d-none d-sm-block">
            <a href="#" class="page-link">1</a>
        </li>
        <li class="page-item active d-none d-sm-block" aria-current="page">
            <span class="page-link">
            2
            <span class="visually-hidden">(current)</span>
            </span>
        </li>
        <li class="page-item d-none d-sm-block">
            <a href="#" class="page-link">3</a>
        </li>
        <li class="page-item d-none d-sm-block">
            <a href="#" class="page-link">4</a>
        </li>
        <li class="page-item">
            <a href="#" class="page-link" aria-label="Next page">
            <i class="bx bx-chevron-right mx-n1"></i>
            </a>
        </li>
        </ul>
    </nav>
</section>